

 <nav id="main-nav">
    <a href="" class="brand-name">Header Logo</a>
    <button class="btn-collapse" data-target="#main-nav-list">
        <i class="bi bi-list"></i>
    </button>
    <ul class="collapse" id="main-nav-list">
        <li>
            <a href="#">header link one</a>
        </li>
        <li>
            <a href="#">header link two</a>
        </li>
        <li>
            <a href="#">header link three</a>
        </li>
    </ul>
</nav>

<script defer>
    $(document).ready(function(){
        $(".btn-collapse").click(function(){
            let target = $($(this).data("target")).get(0);
            if(target.style.maxHeight == ""){
                target.style.setProperty("max-height",target.scrollHeight+"px");
            }else{
                target.style.setProperty("max-height","")
            }
        })
    })
</script>