

.btn{
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #fff;
}

.btn-rounded-lg{
    border-radius: 1rem;
}

.btn-primary{
    background-color: #3B82F6;
}